*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin:0px;
    padding:0px;
    scrollbar-width: thin;
    scrollbar-color: #6F7E8c
}

@import 'modales';
@import 'intentos';
@import 'prospectos';
@import 'dashboard';
@import 'byasesor';
@import 'calendario';
@import 'sign';
@import 'nav';
@import 'var';
